.footer {
  width: 100%;
  height: 100px;
  background-color: #333;
  border-top: 1px solid rgba(243, 136, 136, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 40px;
}
.div{
  margin: 20px;
  border-right: 1px solid rgba(243, 136, 136, 0.6);
}
.a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
}
.white {
  color: #fff;
}

.h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.p {
  font-size: 16px;
  margin: 0;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.li {
  margin-right: 10px;
}
